@use "sass:color";

:root {
  --base: hsl(from var(--background) h 30% 8% / 0.8);

  --box: hsl(from var(--color8) h 30% 25% / 0.5);
  --box-bright: hsl(from var(--color8) h 30% 35% / 0.5);
  --box-dim: hsl(from var(--color8) h 30% 20% / 0.5);

  --string: var(--foreground);
  --string-dim: hsl(from var(--foreground) h s calc(l - 40%));

  --shadow: hsl(from var(--color0) h s calc(l - 10%));

  --primary: hsl(from var(--color9) h s 85%);
  --primary-bright: hsl(from var(--color11) h s 95%);
  --primary-dim: hsl(from var(--color13) h s 70%);

  --secondary: hsl(from var(--color11) h s 80%);
  --secondary-bright: hsl(from var(--color2) h s 92%);
  --secondary-dim: hsl(from var(--color13) h s 65%);

  --tertiary: hsl(from var(--color10) h s 75%);
  --tertiary-bright: hsl(from var(--color14) h s 85%);
  --tertiary-dim: hsl(from var(--color12) h s 70%);

  --good: var(--tertiary);
  --warn: var(--secondary);
  --error: var(--primary);
}
