@use "abstracts/looks";
@use "abstracts/fonts";

popover .big-toggle {
  margin-right: 0.75rem;
}

.audio-popover {
  .speaker {
    --accent: var(--tertiary-bright);
  }
  .microphone {
    --accent: var(--tertiary);
  }
}

.bluetooth-popover {
  --accent: var(--tertiary);

  .status {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .device {
    padding: 0.5rem;

    image {
      -gtk-icon-style: symbolic;
      color: var(--accent);
    }

    .device-info {
      @include looks.transition;
      margin-left: 0.75rem;
      color: var(--string-dim);
      opacity: 0;

      image {
        color: var(--string-dim);
      }
    }

    &:hover .device-info {
      opacity: 1;
    }
  }
}

.network-popover {
  --accent: var(--tertiary-dim);

  .access-points {
    > button {
      padding: 0.5em;
    }
    image {
      color: var(--accent);
    }
    .lock {
      margin-left: 1em;
    }
  }
}

.colors-popover {
  > box {
    min-width: 20rem;
  }

  .color-box {
    min-width: 2.5rem;
    min-height: 2.5rem;
    margin-right: 0.75rem;

    button {
      margin: 0;
      padding: 0;
    }

    colorswatch {
      border-radius: var(--radius);
    }
  }

  .main-info {
    padding-left: 0;
  }

  .actions {
    opacity: 0.5;
    padding: 0.25rem;
  }

  .converter {
    .color-box {
      margin: 0;
    }

    colorswatch {
      min-width: 8rem;
      min-height: 6rem;
    }

    entry {
      @include fonts.menu-size;
      min-width: 16em;
      margin: 0.5em 0;
      color: var(--string);
    }
  }
}
