@use "abstracts/looks";
@use "abstracts/fonts";
@use "abstracts/space";

* {
  all: unset;
}

// Roundness
window,
scrolledwindow,
popover,
centerbox,
button,
entry,
tooltip,
trough,
highlight,
block.filled,
.box {
  border-radius: var(--radius);
}

window {
  --accent: var(--primary);

  &.background {
    background-color: rgb(from var(--base) r g b / 1);

    > box,
    headerbar {
      padding: 1rem;
      background-color: rgb(from var(--base) r g b / 1);
    }
  }
}

popover {
  @include fonts.menu-size;

  margin: 0.25rem 0.5rem;
  padding: 1em;
  background-color: rgb(from var(--base) r g b / 0.9);
  color: var(--string);

  label {
    font-size: inherit;
  }
}

.box {
  background-color: var(--base);
}
.section {
  margin: 1rem;
}

.dropdown {
  > button {
    padding: 0.5rem;
    margin-bottom: 1rem;

    image {
      @include looks.transition(-gtk-icon-transform);
      @include fonts.font-size(1.25);
    }
    .title {
      margin: 0;
    }
  }

  &.open > button image {
    -gtk-icon-transform: rotate(-180deg);
  }
}

button,
menubutton,
image {
  transition:
    all 0.25s ease-in-out,
    color 0s ease-in-out,
    transform 0.1s ease-in-out;
}

button {
  padding: 0 0.4em;
  background-color: transparent;

  &:focus-within {
    background-color: rgb(from var(--box-dim) r g b / 0.05);
  }

  &:hover {
    background-color: var(--box);

    image {
      -gtk-icon-transform: scale(1.05);
    }
  }

  + button {
    padding-left: 0.25em;
  }
}

.big-toggle {
  @include looks.transition;
  @include looks.color-toggle(var(--accent));
  padding: 0.75rem;
}

stack {
  @include space.py(0.5em);

  + stackswitcher {
    margin-top: 1em;
  }
}

stackswitcher {
  button {
    background-color: var(--box-dim);

    &:checked,
    &:focus,
    &:hover {
      background-color: var(--primary-dim);
    }
  }

  &.no-labels {
    button {
      @include space.mx(2px);
      @include space.py(0.4em);

      &:focus,
      &:hover {
        @include space.px(1em);
      }
    }

    label {
      margin: 0;
      padding: 0;
      font-size: 0;
      color: transparent;
    }

    &:not(:focus-within) button:checked {
      @include space.px(1em);
    }
  }
}

menubutton {
  margin: 0;
  padding: 0;

  > button {
    margin: 0;
    padding: 0 0.4em;
  }
}

.hover-revealer {
  padding: 0;

  &:focus,
  &:hover {
    background-color: transparent;
  }
}
.hidden-child {
  padding: 0 0.5em;
}

trough {
  min-width: 8em;
  min-height: 0.6em;
  background-color: var(--box-bright);

  highlight {
    background-color: var(--accent);
  }
}
value.right {
  margin-left: 0.25em;
}

scrollbar {
  trough {
    background-color: transparent;
  }

  slider {
    min-height: 1px;
    min-width: 1px;
    background-color: var(--box);

    &:hover {
      background-color: var(--box-bright);
    }
  }

  &.vertical {
    trough,
    slider {
      min-width: 4px;
    }
  }

  &.horizontal {
    trough,
    slider {
      min-height: 4px;
    }
  }
}
