@use "abstracts/fonts";
@use "abstracts/looks";

.notification {
  @include looks.radius(0.4);

  margin: 0.5em 1.5em;
  padding: 0.75rem;

  border: 1px solid var(--accent);
  background-color: var(--base);

  &.critical {
    --accent: var(--error);
  }

  .app-icon,
  > .icon-image,
  > .image {
    @include fonts.font-size(1.6);

    margin: 0.5rem;
    margin-right: 1rem;
    color: var(--secondary);
  }

  .image {
    @include looks.radius;

    background-size: cover;
    background-position: center;
  }

  .header {
    margin: 0.5rem 0;
    color: var(--string-dim);
  }
  .app-name {
    margin-right: 1em;
  }

  .summary,
  .body {
    @include fonts.font-size(1.2);
    padding: 0.25rem 0.75rem 0.25rem 0;
  }

  .summary {
    font-weight: bold;
    color: var(--secondary);
  }

  .body {
    padding-bottom: 0.5rem;
    color: var(--string);
  }

  .actions {
    color: var(--primary-dim);
    margin: 0.5em 0.25em 0;

    button {
      padding: 0.75em;
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
