@mixin grid-box($v, $h) {
  $v-opposed: "bottom";
  @if $v == "bottom" {
    $v-opposed: "top";
  }

  $h-opposed: "right";
  @if $h == "right" {
    $h-opposed: "left";
  }

  border-#{$v}-#{$h}-radius: var(--radius);
  margin-#{$v}: 0.75em;
  margin-#{$h}: 0.75em;

  &:focus,
  &:hover {
    border-#{$v-opposed}-#{$h-opposed}-radius: 2px;
  }
}

#session {
  color: var(--primary-bright);

  image {
    margin: 5rem 7.5rem;
    -gtk-icon-size: 4.25rem;
    transition:
      -gtk-icon-size 0.25s cubic-bezier(0.55, 0, 0.25, 1.68),
      color 0s linear;
  }

  .box {
    border-radius: 2px;
    filter: drop-shadow(var(--shadow), 2px, 2px, 16px);

    &:focus {
      border-radius: var(--radius);
      color: var(--primary);
      background-color: rgb(from var(--base) r g b / 0.7);

      image {
        -gtk-icon-size: 4.75rem;
      }
    }

    &:hover {
      border-radius: var(--radius);

      margin: 4px;
      color: var(--base);
      background-color: var(--primary);

      image {
        -gtk-icon-size: 5rem;
      }
    }
  }

  #lock {
    @include grid-box("top", "left");
  }
  #logout {
    @include grid-box("bottom", "left");
  }
  #reboot {
    @include grid-box("top", "right");
  }
  #shutdown {
    @include grid-box("bottom", "right");
  }
}
