@use "abstracts/fonts";

window {
  @include fonts.font;
}
.display {
  @include fonts.display;
}

placeholder,
text.read-only {
  color: var(--string-dim, gray);
}

label.title {
  margin-bottom: 0.75rem;
  font-size: var(--title-size);
  font-weight: bolder;
  color: var(--primary-bright);
}

entry {
  padding: 0.5rem;
  background-color: var(--box-dim);

  &.warn {
    color: var(--warn);
  }
  &.error {
    color: var(--error);
  }
}

tooltip {
  margin: 2px;
  padding: 1em;
  color: var(--string);
  background-color: rgb(from var(--base) r g b / 0.7);
}
