@use "abstracts/fonts";
@use "abstracts/looks";

.wallpaper-picker {
  @include fonts.menu-size;

  scrolledwindow {
    padding: 1.25rem;
    background-color: var(--base);
  }

  picture {
    @include looks.radius(0.5);
  }

  .item {
    @include looks.radius(0.4);
    transform: scale(0.85);
    padding: 0.75rem 0;
  }

  row:focus-within .item,
  row:hover .item {
    transform: scale(1);
    padding: 0.75rem;

    color: var(--base);
    background-color: var(--accent);
    font-weight: bold;

    picture {
      box-shadow: 0 0 4px var(--base);
    }
  }

  .with-spinner {
    padding: 4rem 0;
  }
}
