:root {
  --font-family: "0xProto Nerd Font", monospace;
  --font-size: 10px;

  --display-family: "RitzFLF", serif;
  --display-size: 48px;

  --menu-size: 12.5px;
  --title-size: 15px;
}

@mixin size($font-var, $scale: 1) {
  @if $scale == 1 {
    font-size: $font-var;
    -gtk-icon-size: $font-var;
  } @else {
    font-size: calc($font-var * $scale);
    -gtk-icon-size: calc($font-var * $scale);
  }
}

@mixin font-family() {
  font-family: var(--font-family);
}
@mixin font-size($scale: 1) {
  @include size(var(--font-size), $scale);
}
@mixin font($scale: 1) {
  @include font-family;
  @include font-size($scale);
}

@mixin display-family() {
  font-family: var(--display-family);
}
@mixin display-size($scale: 1) {
  @include size(var(--display-size), $scale);
}
@mixin display($scale: 1) {
  @include display-family;
  @include display-size($scale);
}

@mixin menu-size($scale: 1) {
  @include size(var(--menu-size), $scale);
}
@mixin title-size($scale: 1) {
  @include size(var(--title-size), $scale);
}
