@use "../palette";

:root {
  --radius: 8px;
  --transition-duration: 0.2s;
  --transition-timing: ease-in-out;
  --transition: all var(--transition-duration) var(--transition-timing);

  --icon-theme: "Adwaita";
  --fallback-icon-theme: "Papirus";
}

@mixin radius($scale: 1) {
  @if $scale == 1 {
    border-radius: var(--radius);
  } @else {
    border-radius: calc(var(--radius) * $scale);
  }
}

@mixin transition(
  $property: all,
  $duration: var(--transition-duration),
  $timing: var(--transition-timing)
) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
}

// Simulates an outline around text
@mixin text-stroke($size, $color) {
  text-shadow:
    $size $size 0 $color,
    (-$size) (-$size) 0 $color,
    ($size) (-$size) 0 $color,
    (-$size) $size 0 $color,
    0 $size 0 $color,
    $size 0 0 $color,
    0 (-$size) 0 $color,
    (-$size) 0 0 $color;
}

@mixin color-toggle($color) {
  background-color: var(--box);
  color: $color;

  &:hover {
    background-color: var(--box-bright);
  }

  &:checked {
    background-color: $color;
    color: var(--base);

    &:hover {
      background-color: hsl(from $color h s calc(l + 10%) / alpha);
      color: var(--base);
    }
  }
}
